@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora');
:root {
    --gray: #8E9AAF;
    --lavender: #fcd8c9;
    --pale: #fc7a4a;
    --white: #f6f6f6;
    --pink: darken(#EAC7CC, 20%);
}
 body {
    box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background: var(--gray);
}
/* pop-up style */
.po-up-continer1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    visibility: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(219 219 219 / 86%);
    position: fixed;
}
.po-up{
display: flex;
flex-direction: column;
align-items: center;
position: relative;
background-color: #8e9aaf;
width: 40%;
border-radius: 40px;
margin: 4rem;
padding: 2rem;
}
.po-up ion-icon{
    position: absolute;
    right: 14%;
    top: 5%;
font-size: 2rem;
font-weight: bold;
cursor: pointer;
color: aliceblue;
}
.po-up h3{
    font-size: 30px;
    padding: 1rem;
    margin: 1rem;
    font-family: "Mochiy Pop One";
    color: aliceblue;
}
.po-up p{
    color: aliceblue;
    line-height: 35px;
    font-size: larger;
    padding: 0 2rem;
}
.form h2{
    padding: 1rem 2rem;
    text-align: center;
}
.form{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.form-controller{
        padding: 1.5rem 3rem;
        /* margin-bottom: 1rem; */
        width: 80%;
}
.form-controller label{
    padding-bottom: 0.5rem;
    display: inline-block;
    color: aliceblue;
    font-size: larger;
}
.form-controller input {
    margin-bottom: 0.5rem;
    width:100%;
    display:block;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 2px solid #59595a;
    font-size: 14px;
    font-family: inherit;
    /* color: aliceblue; */
}
.add-post-pop ,.update-post-pop , .add-comment-pop{
    /* padding: 1rem 3rem; */
    background-color: #fc7a4a;
    color: aliceblue;
    border-radius: 0.5rem;
    text-align: center;
    margin: 0.5rem 16rem;
    padding: 1rem;
    border: 2px solid #59595a;
    font-size: 1rem;
    align-self: center;
cursor: pointer;
}
.comment-content{
    height: 6rem;
}
.add-comment-pop{
    margin-top: 4rem;
}
.top-nav{
    width: 100%;
    height: 70px;
    background: #6c778b;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
}
nav.top-nav .left-top-nav {
    padding-left: 12px;
    display: flex;
    flex-direction: row;
}
nav.top-nav .left-top-nav a{
    font-size: 30px;
      text-decoration: none;
      color: white;
      padding: 14px;
      transition: .15s all ease-in-out;
} nav.top-nav .left-top-nav a img{
    width: 40px;
    height: 40px;
}nav.top-nav .left-top-nav b{
    color: var(--pale);
}
nav.top-nav .left-top-nav a :hover{
    transform: scale(1.10);
}nav.top-nav ul{
    display: flex;
    flex-direction: row;
}
nav.top-nav ul li {
    list-style-type: none;
      border-left: 1px solid rgba(255, 255, 255, .25);
}
nav.top-nav ul li a{
    font-size: 28px;
        padding: 18px 24px;
        text-decoration: none;
        color: white;
        font-weight: 300;
        transition: .15s all ease-in-out;
}
nav.top-nav ul li a:hover{
    background: rgba(255, 255, 255, .25);
}
.container-wrapper{
    width: 100%;
  display: flex;
  justify-content: center;
}.container-wrapper .container{
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 800px;
    width: 66.6666%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} h1{
    color: var(--white);
}
.container-wrapper .container .post , .comment{
    display: flex;
       width: 100%;
       margin-top: 6px;
       margin-bottom: 6px;
       background: white;
       box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}.container-wrapper .container .post .vote-container , .comments .comment .vote-container{
    display: flex;
        flex-direction: column;
        align-items: center;
        padding: 12px;
        font-size: 18px;
        background: white;
        color: #424242;
        width: 10%;
}
.post .vote-container ion-icon {
    font-size: 2.5rem;
}
.post .vote-container ion-icon:hover ,.up{
    color: var(--gray);
}
.post .vote-container ion-icon:hover ,.down{
    color: var(--pale);
}
.container-wrapper .container .post .post-content-container , .comments .comment .post-content-container {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.container-wrapper .container .post .post-content-container h2{
    font-weight: 500;
    color: #424242;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 4px;
} .container-wrapper .container .post .post-content-container .content , .comments .comment .post-content-container .content{
    padding: 1rem;
}.container-wrapper .container .post .post-content-container img{
    max-height: 600px;
    /* padding: 1rem; */
}
.container-wrapper .container .post .post-content-container p , .comments .comment .post-content-container p{
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 1rem;
}
.container-wrapper .container .post .post-content-container p a , .comments .comment .post-content-container p a{
    color: var(--pale);
    font-weight: bold;
    text-decoration: none;
}
.container-wrapper .container .post .message-wrapper{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #424242;
    border-left: 1px solid rgba(0,0,0,.12);
    transition: .15s all ease-in-out;
}
.container-wrapper .container .post .message-wrapper:hover{
    background: var(--pale);
    color: var(--white);
    cursor: pointer;
}
.container-wrapper .container .post .message-wrapper ion-icon {
    font-size: 32px;
}
.container-wrapper .container .post .message-wrapper .comment-count {
    font-size: 12px;
}